[submodule "ai110-module1show-gameglitchinvestigator-starter-sandeep"]
	path = ai110-module1show-gameglitchinvestigator-starter-sandeep
	url = https://github.com/sandeepvijayarao09/ai110-module1show-gameglitchinvestigator-starter-sandeep.git
[submodule "ai110-module3show-musicrecommendersimulation"]
	path = ai110-module3show-musicrecommendersimulation
	url = https://github.com/sandeepvijayarao09/ai110-module3-music-recommender-simulation
